name: Slate-DB Release
on:
  push:
    tags:
      - "v*"

jobs:
  seed-db:
    name: Slate DB Seed
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set tag name
        if: startsWith(github.ref, 'refs/tags/')
        id: tag
        shell: bash
        run: |
          echo "ref : ${{ github.ref }}"
          echo "::set-output name=tag-name::$(echo ${{ github.ref }} | grep -oP '(?<=refs/tags/v).+(?=$)')"

      - name: Install SQlite3
        run: |
          sudo apt-get install sqlite3

      - name: Initialise sqlite3 database
        run: |
          sqlite3 seed.db '.read seed/seed.ddl'
          sqlite3 seed.db '.read seed/seed.sql'
          sqlite3 seed.db '.read seed/migrations.sql'

      - name: Prepare Artifact
        shell: bash
        id: prep-artifact
        run: |
          mkdir dist
          mv "seed.db" "dist/slate-${{ steps.tag.outputs.tag-name }}.db"
          echo "::set-output name=artifact-name::$(ls dist/slate-*)"

      - name: Statsify Artifact
        shell: bash
        run: |
          echo "artifact name: ${{ steps.prep-artifact.outputs.artifact-name }}"

      - uses: fnkr/github-action-ghr@v1.3
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GHR_PATH: "${{ steps.prep-artifact.outputs.artifact-name }}"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}